# Ignore large non-code outputs
*.html linguist-documentation
documentation/** linguist-documentation
logs/** linguist-documentation

# Explicitly show Jupyter
*.ipynb linguist-language=Jupyter\ Notebook
